<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ block "title" . }} {{ if not .IsHome }} {{ .Title }} - {{ end }} {{
      .Site.Title}} {{ end }}
    </title>
    {{ $css := resources.Get "css/style.css"}}
    <link
      rel="stylesheet"
      href="{{ $css.RelPermalink }}"
      type="text/css"
      media="all"
    />
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    <header class="site-header">
      <nav class="site-nav">
        <a class="logo" href="{{ .Site.BaseURL }}"> {{ .Site.Title }} </a>
        <ul class="main-menu">
          {{ range.Site.Menus.main }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
        <ul class="social-icons">
          <li>
            <img
              src="{{ relURL `icons/github-mark-white.svg` }}"
              width="30px"
              height="30px"
              class="github"
            />
          </li>
          <li>
            <img
              src="{{ relURL `icons/gitlab-logo-700.svg` }}"
              width="30px"
              height="30px"
            />
          </li>
          <li>
            <img
              src="{{ relURL `icons/iconmonstr-rss-feed-1.svg` }}"
              width="30px"
              height="30px"
            />
          </li>
        </ul>
      </nav>
    </header>
    <main class="content">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    {{ block "footer" . }}
    <footer>
      <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
      <p>&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p>
    </footer>
    {{ end }}
  </body>
</html>
