/* style sheet */

/* Variables */

:root {
    --color-background: #1a1b26;
    --color-headings: #7dcfff;
    --color-text: #a9b1d6;
    --color-links: #73daca;
    --color-accent: #f7768e;
  }
  
  /* Global reset */
  
  * {
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-headings);
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  a {
    color: var(--color-links);
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  .logo {
    color: var(--color-accent);
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .latest-posts-item > a {
    font-weight: bold;
  }
  
  /* Header */
  
  .site-header {
    padding: 3rem;
  }
  
  /* Navigation */
  
  .site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .main-menu {
    display: flex;
    list-style-type: none;
  }
  
  .main-menu a {
    padding: 1rem;
  }
  
  .social-icons {
    display: flex;
    list-style-type: none;
  }
  
  .social-icons > li > img {
    padding: 1rem;
  }
  
  /* Main */
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25%;
  }
  
  .content > p {
    margin-bottom: 1rem;
  }
  
  /* Footer */

  footer {
    margin-top: auto;
  }
  
  footer > p {
    margin-bottom: 1rem;
    text-align: center;
  }
  