{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<h2>Latest posts</h2>
<ul class="latest-posts">
{{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
<li class="latest-posts-item">
    <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .PublishDate.Format "January 2, 2006 - " }}</time>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
</li>
{{end}}
</ul>

{{ end }}
